
@using (Html.BeginForm("CreateRole", "Admin", FormMethod.Post))
{

    <div class="form-group">
        <label>نام نقش</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" name="txtRole" />
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-lg-6">
            <input type="submit" class="form-control btn btn-info" name="btnSaveUser" value="ثبت نقش جدید" />
        </div>
    </div>



}
