
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-danger">
        <h2>عمل ارسال به بانک با مشکل مواجه شده است. مجددتلاش کنید</h2>
        <h3>خطای مورد نظر: @ViewBag.Error</h3>
    </div>
</div>
