
@{
    ViewBag.Title = "GOToMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>صفحه تایید حساب کاربری</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12 alert-success">
            <p>
                عمل ثبت نام شما با موفقیت انجام شد. برای تایید حساب کاربری خود به ایمیل خود مراجعه کنید.
            </p>
        </div>
    </div>
</div>

